{% extends "layout.html" %}
{% block content %}

<style>
body {
margin: 0;
background-color: white;
}
<!--.image {
display: inline-block;
margin: 3em 14px;
background-color: #444;
box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
-->
img2 {
display: block;
}
</style>
<script src="https://code.jquery.com/jquery-1.10.2.min.js" charset="utf-8"></script>

<script>
$(document).ready(function() {
$('img2').unveil(1000);
});
</script>

{% if result == "Checked" %}
<div class = "center"><h2>This Account Has Already Completed Authentication</h2></div>

{% else %}


{% if result == () %}
<form action="/{{player_id}}" method="POST">
     <div class="col">
         {{ fingerprint_input }}

         <input type="text" id="IP" name="IP" hidden>
         <input type="text" id="Dev" name="Dev" hidden>


         <script>
        function text(url) {
            return fetch(url).then(res => res.text());
        }
        text('https://www.cloudflare.com/cdn-cgi/trace/').then(data => {
        let ipRegex = /ip=.+/
        let ip = data.match(ipRegex)[0];
        let devregex = /uag=.+/
        console.log(ip);
        let devinfo = data.match(devregex)[0];
        document.getElementById("IP").value = ip;
        document.getElementById("Dev").value = devinfo;
        });



         </script>
            <label for="Gamertag">Enter your gamertag exactly as it appears:</label>
            <input id="Gamertag" type="text" class="form-control" placeholder="Player123"
                   name="Gamertag" required>
     </div>
    <div class="center"><button type="submit" class="btn btn-success">Submit</button></div>
</form>

{% else %}
<div class = "center"><h2>Scan the QR Code below and enter the code on your mobile device:</h2></div>
<div class = "center">
{% for image in images %}
    <a class="image" href="{{ image.src }}" style="width: {{ image.width }}px; height: {{ image.height }}px">
        <img src="{{ image.src }}" data-src="{{ image.src }}?w={{ image.width }}&amp;h={{ image.height }}" width="{{ image.width }}" height="{{ image.height }}" />
    </a>
{% endfor %}
</div>
<div class = "center"><h2>Code: {{ athCode }}</h2></div>

{% endif %}
{% endif %}
{% endblock %}