{% extends "layout.html" %}
{% block content %}

{% if responder == "Invalid Link" %}
<h4>Invalid Link, if this is an error please reach out to an admin </h4>.

{% elif responder == "Two-Factor Authentication Complete" %}
<h4>Two-Factor Authentication Complete</h4>
<a href="https://proclubsnation.com/">Click here to return to https://proclubsnation.com/</a>

{% else %}
<form action="/ath/{{linkGen}}" method="post">

    <div class="col">
        <label for="AthCode">Code:</label>
        <input id="AthCode" type="AthCode" class="form-control" placeholder="999999" name="AthCode" required>
    </div>
    <div class="center"><button type="submit" class="btn btn-success">Submit</button></div>

</form>

    {% if responder == "Invalid Code" %}
    <h4 style = "color:red;">Invalid Code: Please enter the code exactly as it appears from the page with the QR Code</h4>
    {% endif %}
{% endif %}
{% endblock %}
